body
{
   background-color: #FFFFFF;
   color: #32CD32;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 10px 15px 10px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1, #header > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1, #header > .row > .col-2
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 25%;
   text-align: center;
}
#header > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 75%;
   text-align: center;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1, #header > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_home
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: url(../images/banner.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 100% 100%;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   -webkit-animation: puff-in 1000ms linear 0ms 1 normal both;
   -moz-animation: puff-in 1000ms linear 0ms 1 normal both;
   animation: puff-in 1000ms linear 0ms 1 normal both;
}
#home
{
   box-sizing: border-box;
   height: 100vh;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   padding: 75px 0px 75px 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#home > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#home > .col-1
{
   -webkit-flex: 0 0 auto;
   flex: 0 0 auto;
}
#home > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   flex-basis: 100%;
   max-width: 100%;
   -webkit-align-self: center;
   align-self: center;
   -webkit-justify-content: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#home > .col-1
{
   -webkit-flex-basis: 100% !important;
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_servicios
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   position: relative;
}
#servicios
{
   display: -webkit-flex;
   display: flex;
   position: relative;
   padding: 80px 10px 80px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-start;
   justify-content: flex-start;
   -webkit-align-items: stretch;
   align-items: stretch;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   margin-top: 0px;
   margin-bottom: 0px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
   box-sizing: border-box;
   font-size: 0px;
}
@media all and (max-width:480px) 
{
#servicios
{
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
}
}
#wb_contacto
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
}
#contacto
{
   box-sizing: border-box;
   padding: 20px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#contacto > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contacto > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contacto > .row > .col-1
{
   float: left;
}
#contacto > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#contacto > .row > .col-1 > .col-1-padding
{
   padding: 10px 0px 10px 0px;
}
#contacto:before,
#contacto:after,
#contacto .row:before,
#contacto .row:after
{
   display: table;
   content: " ";
}
#contacto:after,
#contacto .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contacto > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_pie
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
}
#pie
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#pie > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#pie > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#pie > .row > .col-1
{
   float: left;
}
#pie > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#pie:before,
#pie:after,
#pie .row:before,
#pie .row:after
{
   display: table;
   content: " ";
}
#pie:after,
#pie .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#pie > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_pietexto 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_pietexto
{
   color: #32CD32;
   font-family: Verdana;
   font-weight: normal;
   font-size: 15px;
   line-height: 17.5px;
}
#wb_pietexto p, #wb_pietexto ul
{
   margin: 0;
   padding: 0;
}
#upStickyLayer
{
   background-color: #000000;
   background-image: none;
   opacity: 0.77;
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_upIcon:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
}
#upIcon
{
   height: 24px;
   width: 24px;
}
#upIcon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
   width: 14px;
}
#wb_upIcon:hover i
{
   color: #007BFF;
}
#wb_headerMenu
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: right;
}
#wb_headerMenu ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}
#wb_headerMenu li
{
   float: left;
   margin: 0;
   padding: 8px 0px 8px 0px;
   width: 33.33%;
}
#wb_headerMenu a
{
   display: block;
   float: left;
   color: #32CD32;
   border: 1px solid rgba(0,0,0,0.00);
   border-radius: 21px;
   background-color: #000000;
   background-color: rgba(0,0,0,0.00);
   background-image: none;
   font-family: Verdana;
   font-weight: bold;
   font-size: 15px;
   font-style: normal;
   text-decoration: none;
   width: 88.61%;
   height: 26px;
   padding: 0px 10px 0px 10px;
   vertical-align: middle;
   line-height: 26px;
   text-align: center;
}
#wb_headerMenu li:hover a, #wb_headerMenu a:hover
{
   color: #000000;
   background-color: #32CD32;
   background-image: none;
   border: 1px solid #00FF00;
}
#wb_headerMenu li.firstmain
{
   padding-left: 0px;
}
#wb_headerMenu li.lastmain
{
   padding-right: 8px;
}
#wb_headerMenu br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.headerMenu-effect
{
   -webkit-transition: all 200ms linear;
   transition: all 200ms linear;
}
#wb_Card1
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: rgba(30,30,30,0.59);
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 21px;
   margin: 15px 15px 15px 15px;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.28);
}
#Card1-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card1-card-item0
{
   display: inline-block;
   height: 53px;
   box-sizing: border-box;
   border-radius: 21px 21px 0 0;
   margin: 25px 0px 20px 0px;
   padding: 0;
   border: 0px solid #BABABA;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #32CD32;
   font-family: Arial;
   font-weight: normal;
   font-size: 53px;
}
#wb_Card1:hover #Card1-card-item0
{
   -webkit-transform: rotate(0deg) scale(0.8,0.8) ;
   -moz-transform: rotate(0deg) scale(0.8,0.8) ;
   transform: rotate(0deg) scale(0.8,0.8) ;
   -webkit-transition: -webkit-transform 300ms linear 0ms;
   -moz-transition: transform 300ms linear 0ms;
   transition: transform 300ms linear 0ms;
}
#Card1-card-item0
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 300ms linear 0ms;
   -moz-transition: transform 300ms linear 0ms;
   transition: transform 300ms linear 0ms;
}
#Card1-card-item0 a
{
   color: #32CD32;
   text-decoration: none;
}
#Card1-card-item0 .svg-icon
{
   fill: #32CD32;
   width: 53px;
   height: 53px;
}
#Card1-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #32CD32;
   font-family: Verdana;
   font-weight: bold;
   font-size: 21px;
}
#Card1-card-item2
{
   box-sizing: border-box;
   margin: 20px 100px 20px 100px;
   border-top: 1px #4F4F4F solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card1-card-item3
{
   box-sizing: border-box;
   border-radius: 0 0 21px 21px;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #00FF00;
   font-family: Verdana;
   font-weight: normal;
   font-size: 13px;
}
#wb_Card2
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: rgba(30,30,30,0.59);
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 21px;
   margin: 15px 15px 15px 15px;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.28);
}
#Card2-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card2-card-item0
{
   display: inline-block;
   height: 53px;
   box-sizing: border-box;
   border-radius: 21px 21px 0 0;
   margin: 25px 0px 20px 0px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #32CD32;
   font-family: Arial;
   font-weight: normal;
   font-size: 53px;
}
#Card2-card-item0:hover
{
   -webkit-transform: rotate(0deg) scale(0.8,0.8) ;
   -moz-transform: rotate(0deg) scale(0.8,0.8) ;
   transform: rotate(0deg) scale(0.8,0.8) ;
   -webkit-transition: -webkit-transform 300ms linear 0ms;
   -moz-transition: transform 300ms linear 0ms;
   transition: transform 300ms linear 0ms;
}
#Card2-card-item0
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 300ms linear 0ms;
   -moz-transition: transform 300ms linear 0ms;
   transition: transform 300ms linear 0ms;
}
#Card2-card-item0 a
{
   color: #32CD32;
   text-decoration: none;
}
#Card2-card-item0 .svg-icon
{
   fill: #32CD32;
   width: 53px;
   height: 53px;
}
#Card2-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #32CD32;
   font-family: Verdana;
   font-weight: bold;
   font-size: 21px;
}
#Card2-card-item2
{
   box-sizing: border-box;
   margin: 20px 100px 20px 100px;
   border-top: 1px #4F4F4F solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card2-card-item3
{
   box-sizing: border-box;
   border-radius: 0 0 21px 21px;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #00FF00;
   font-family: Verdana;
   font-weight: normal;
   font-size: 13px;
}
#wb_Card3
{
   position: relative;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-grow: 1;
   flex-grow: 1;
   -webkit-flex-shrink: 1;
   flex-shrink: 1;
   -webkit-flex-basis: 0%;
   flex-basis: 0%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: rgba(30,30,30,0.59);
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 21px;
   margin: 15px 15px 15px 15px;
   padding: 0;
   text-align: center;
   box-shadow: 0px 0px 20px rgba(0,0,0,0.28);
}
#Card3-card-body
{
   -webkit-flex: 1 1 auto;
   flex: 1 1 auto;
   font-size: 0px;
}
#Card3-card-item0
{
   display: inline-block;
   height: 53px;
   box-sizing: border-box;
   border-radius: 21px 21px 0 0;
   margin: 25px 0px 20px 0px;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   color: #32CD32;
   font-family: Arial;
   font-weight: normal;
   font-size: 53px;
}
#wb_Card3:hover #Card3-card-item0
{
   -webkit-transform: rotate(0deg) scale(0.8,0.8) ;
   -moz-transform: rotate(0deg) scale(0.8,0.8) ;
   transform: rotate(0deg) scale(0.8,0.8) ;
   -webkit-transition: -webkit-transform 300ms linear 0ms;
   -moz-transition: transform 300ms linear 0ms;
   transition: transform 300ms linear 0ms;
}
#Card3-card-item0
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 300ms linear 0ms;
   -moz-transition: transform 300ms linear 0ms;
   transition: transform 300ms linear 0ms;
}
#Card3-card-item0 a
{
   color: #32CD32;
   text-decoration: none;
}
#Card3-card-item0 .svg-icon
{
   fill: #32CD32;
   width: 53px;
   height: 53px;
}
#Card3-card-item1
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #32CD32;
   font-family: Verdana;
   font-weight: bold;
   font-size: 21px;
}
#Card3-card-item2
{
   box-sizing: border-box;
   margin: 20px 100px 20px 100px;
   border-top: 1px #4F4F4F solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#Card3-card-item3
{
   box-sizing: border-box;
   border-radius: 0 0 21px 21px;
   margin: 0px 0px 30px 0px;
   padding: 0;
   color: #00FF00;
   font-family: Verdana;
   font-weight: normal;
   font-size: 13px;
}
#wb_banner_ai
{
   margin: 0;
   vertical-align: top;
}
#banner_ai
{
   border: 0px solid #000000;
   padding: 0;
   -webkit-animation: transform-pulse 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-pulse 1000ms linear 0ms infinite normal both;
   animation: transform-pulse 1000ms linear 0ms infinite normal both;
   display: inline-block;
   width: 75px;
   height: 75px;
   vertical-align: top;
}
#wb_instagram
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_instagram:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#instagram
{
   height: 31px;
   width: 31px;
}
#instagram i
{
   color: #32CD32;
   display: inline-block;
   font-size: 31px;
   line-height: 31px;
   vertical-align: middle;
   width: 25px;
}
#wb_instagram:hover i
{
   color: #00FF00;
}
#wb_facebook
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_facebook:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#facebook
{
   height: 31px;
   width: 31px;
}
#facebook i
{
   color: #32CD32;
   display: inline-block;
   font-size: 31px;
   line-height: 31px;
   vertical-align: middle;
   width: 17px;
}
#wb_facebook:hover i
{
   color: #00FF00;
}
